*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-bg: #131921;
    --header-border: #3b4149;
    --header-search: #febd69;
    --header-bottom: #232f3e;
}
body{
    font-family: 'Rubik', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
p{
    margin: 0;
}
.form-control:focus{
    box-shadow: none;
    border-color: inherit;
}
.gap-10{
    gap: 10px;
}
.button{
    background-color: var(--header-bottom);
    padding: 13px 18px;
    color: white;
    font-size: 14px;
    border-radius: 25px;
}
.button:hover{
    background-color: var(--header-bg);
}

/* Header */
.header-top{
    background-color: var(--header-bg);
    border: 1px solid var(--header-border);
}
.header-mid{
    background-color: var(--header-bg);
    border: 1px solid var(--header-border);
}
.header-mid .input-group-text{
    background-color: var(--header-search);
    cursor: pointer;
}
.header-mid .icons{
    width: 35px;
    height: 35px;
}
.header-bottom{
    background-color: var(--header-bottom);
}
.header-bottom .icons{
    width: 20px;
    height: 20px;
}

/* footer */

footer{
    background-color: var(--header-bottom);
}
.newsletter-icon{
    width: 25px;
    height: 25px;
}
footer .input-group-text{
    background-color: var(--header-bottom);
    cursor: pointer;
    color: white;
}

/* Home/Banner.js */
.left-banner-1-text,
.right-banner-1-text{
    top: 15%;
    left: 10%;
}
.right-banner{
    width: 50%;
}
.right-banner-1-text h4{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px; 
}
.right-banner-1-text h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 34px; 
}
.right-banner-1-text p{
    font-size: 10px;
    line-height: 22px; 
    font-weight: 500;
}


